:root {
  background: #4ee79b;
}

/* Dark mode users
/* @media (prefers-color-scheme: dark) {
  :root {
    background: #0a0a0a;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  text-align: center;
}