body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background: #fdedda;
  margin: 0;
  color: #222;
}

h1 {
  font-size: 2.5rem;
}

h1, h2, h3 {
  font-weight: 700;
}

button {
  font-family: inherit;
}