:root {
  background: #ffffff;
}

/* Dark mode users
/* @media (prefers-color-scheme: dark) {
  :root {
    background: #0a0a0a;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
