/* Layout Container */
.search-bar {
    width: 100%;
    max-width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 10px;
}


/* Adding a Collapsible sidebar */
.sidebar {
    width: 250px;
    padding-right: 10px;
    transform: all 0.3s ease; /*collapse instead of slide*/
    overflow: hidden;
}

/* Make the sidebar disappear */
.sidebar.hidden {
    width: 0;
    padding: 0;
    margin: 0;
}

/* Toggle button */
.sidebar-toggle {
    background: #004d26;
    color: white;
    border: none;
    padding: 10px 14px;
    font-size: 16px;
    border-radius: 6px;
    margin-bottom: 10px;
    curson: pointer;
}

/* Layout-container */
.layout-container {
    display: flex;
    align-items: flex-start;
    transition: all 0.3s ease;
}

/* Spacing for when the Sidebar is Visible */
.layout-container:not(.sidebar-hidden) .recipe-grid {
    margin-left: 20px;
}

/* Filter groups */
.filter-group {
    margin-bottom: 20px;
}

/* Labels */
.filter-label {
    font-weight: bold;
    margin-bottom: 6px;
    display: block;
}

/* Drobpdowns and Inputs */
.sidebar select,
.sidebar input {
    width: 100%;
    padding: 5px;
    border-radius: 6px;
    border: 1pd solid #ccc;
}

/* Random Recipe button */ 
.random-btn {
    width: 100%;
    padding: 10px;
    background: #00cc66;
    border: none;
    border-radius: 6px;
    color: white;
    curson: pointer;
    margin-top: 10px;
}
/* 2-column grid */
.recipe-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    transition: all 0.3s ease;
}


/* Recipe card styles */
.recipe-card {
    background: white;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0.4rem 0.4rem 0.6rem rgba(0,0,0,0.15);
    text-align: center;
}

/* Uniform recipe image size */
.recipe-img {
    width: 2in;
    height: 1.5in;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 8px;
}

.recipe-title {
    font-size: 1rem;
    margin-bottom: 6px;
}

.recipe-link {
    display: inline-block;
    margin-top: 6px;
    color: blue;
    text-decoration: underline;
}

/* Expand Buttons */
.expand-btn {
    background: none;
    border: none;
    color: #0077cc;
    curson: pointer;
    margin: 6px 0;
}

/* Youtube Link */
.youtub-link {
    color: red; 
    text-decoration: underline;
    margin-top: 6px;
    display: block;
}

/* Save Button */
.save-btn {
    margin-top: 10px;
    background: #ffd700;
    border: none;
    padding: 8px;
    border-radius: 6px;
    curson: pointer;
}
