.navBar {
    display: flex;
    justify-content:center;
    width:100%;
    padding:0px;
}

.navBar li {
    list-style-type: none;
    display:block;
    padding:10px;
    border-style:solid;
    border-width:2px;
    background-color: #b5ecda;
    /*idk put more stuff here to whoever is making it pretty*/
}